.log-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column-reverse;
  width: 20%;
  height: 800px;
  padding: 40px;
  z-index: -1;
  &.hidden {
    display: none;
  }

  .log-card-wrapper {
    display: flex;
    width: 320px;
    height: 130px;

    .log-image-wrapper {
      width: 15%;
      height: 60px;
      padding: 15px;
      font-size: 28px;
    }

    .log-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: calc(100%-15px);
      padding: 15px;
    }
  }
}
